.hg/
.vs/
GeminiConsole/bin/
GeminiConsole/obj/
SmolNetSharp/bin/
SmolNetSharp/obj/
.hgignore
/SmolNetSharp.Test/bin/Debug/netcoreapp3.1
/SmolNetSharp.Test/obj
/SmolNetSharp.Test/bin
GeminiConsole/GeminiConsole.Net4Framework/bin/
GeminiConsole/GeminiConsole.Net4Framework/obj/
SmolNetSharp/SmolNetSharp.Net4Framework/bin/
SmolNetSharp/SmolNetSharp.Net4Framework/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
SmolNetSharp/SmolNetSharp.Net4Framework/obj/
GeminiConsole/GeminiConsole.Net4Framework/packages/
